{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

.login {
    width: 420px;
    background: white;
    border: 2px solid rgba(69, 69, 189, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #000;
    border-radius: 10px;
    padding: 30px 40px
}

.login h1 {
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;

}

.input-box input:focus {
    border-color: #007bff;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #777;
}

.remember-me {
    margin-bottom: 20px;
}

.remember-me label {
    margin-right: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    font-size: 14.5px;
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}